<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>leqso is awesome</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300&display=swap" rel="stylesheet">

</head>
<body>
    <div class="contacts-header">
        <ul class="contacts-list">
            <li class="list-item">
                <a href="#" class="link"> 
                    <img src="<%= require('./src/assets/home.svg') %>" alt="Home" class="link-img">
                    <span class="link-text">455 Martinson, Los Angeles</span>
                </a>
            </li>
            <div class="divider"></div>
            <li class="list-item">
                <a href="mailto:test@test.test" type="email" class="link">
                    <img src="<%= require('./src/assets/email.svg') %>" alt="Email" class="link-img">
                    <span class="link-text">support@email.com</span>
                </a>
            </li> 
            <div class="divider"></div>
            <li class="list-item">
                <a href="#" class="link">
                    <img src="<%= require('./src/assets/phone.svg') %>" alt="Phone" class="link-img">
                    <span class="link-text">8 (043) 567-89-30</span>
                </a>
            </li>
            <div class="divider"></div>
        </ul>

        <ul class="contacts-list contacts-list--social">
            <li class="list-item">
                <a href="#" class="link">
                    <img src="<%= require('./src/assets/twitter.svg') %>" alt="Twitter" class="link-img">
                </a>
            </li>
            <li class="list-item">
                <a href="#" class="link">
                    <img src="<%= require('./src/assets/facebook.svg') %>" alt="Facebook" class="link-img">
                </a>
            </li>
            <li class="list-item">
                <a href="#" class="link">
                    <img src="<%= require('./src/assets/google_plus.svg') %>" alt="Google Plus" class="link-img">
                </a>
            </li>
            <li class="list-item">
                <a href="#" class="link">
                    <img src="<%= require('./src/assets/basketball.svg') %>" alt="Basketball" class="link-img">
                </a>
            </li>
            <li class="list-item">
                <a href="#" class="link">
                    <img src="<%= require('./src/assets/instagram.svg') %>" alt="Instagram" class="link-img">
                </a>
            </li>
        </ul>
    </div>
</body>
</html>